<h2>Sign up</h2>
<div class = 'form-horizontal well'>
	<%= simple_form_for(resource, :html => { :class => 'form-horizontal' }, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	
	  <%= f.input :name %>
	  <%= f.input :email %>
	  <%= f.input :address %>
	  <%= f.input :institution %>
	  <%= f.input :phone %>
	  <%= f.input :purpose_of_use %>
	  <%= f.input :password %>
	  <%= f.input :password_confirmation %>
	
	    <div class="form-actions">
	      <%= f.submit "Sign Up", :class => 'btn btn-primary', :id => "Sign up" %>
	      <%= link_to 'Cancel', root_path, :class => 'btn' %>
	    </div>
	 <% end %>
</div>
<%= render "devise/shared/links" %>
