<div class="field">
	<div class="row-fluid">
		<%= f.attribute_fields do |a| %>
			<span class="span4"><%= a.attribute_select associations: [:seq_no] %></span>
		<% end %>
		<span class="span2"><%= f.predicate_select %></span>
		<%= f.value_fields do |v| %>
			<span class="span4"><%= v.text_field :value %></span>
		<% end %>
		<span class="span2"><%= link_to "remove", '#', class: "remove_fields" %></span>
	</div>
</div>

