<h2>Search Form</h2>
<%= search_form_for @q, :html => { :class => 'well form-search' }, url: search_axe_masters_path, method: :post do |f| %>
  <fieldset>
	<legend>Condition fields</legend>
	  <%= f.condition_fields do |c| %>
		<%= render "condition_fields", f: c %>
	  <% end %>
	  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
  </fieldset>
  <div class="field">
  <fieldset>
    <legend>Sorting</legend>
    <%= f.sort_fields do |s| %>
      <%= render 'sort_fields', f: s %>
    <% end %>
    <%= link_to_add_fields "Add Sort", f, :sort %>
  </fieldset>
    
  </div>
  <div class="form-actions">
    <%= f.button :search, :class => 'btn-primary', :name => "search", :id => "search", :value => "html" %>
    <div class="pull-right">
    <% if current_user && current_user.confirmed %>
	    <strong>Export to: </strong>
	    	<%= f.button :xml, :class => 'btn-info', :name => "search", :id => "search", :value => "xml" %>
	   		<%= f.button :csv, :class => 'btn-info', :name => "search", :id => "search", :value => "csv" %>
	 	<% end %>
 	</div>
  </div>
<% end %>


