<%= simple_form_for @mineral, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :seq_no %>
  <%= f.input :mineral %>
  <%= f.input :parts_per_million %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                minerals_path, :class => 'btn' %>
  </div>
<% end %>
