<%- model_class = Bibliography -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:book_title) %></th>
      <th><%= model_class.human_attribute_name(:publication) %></th>
      <th><%= model_class.human_attribute_name(:where_published) %></th>
      <th><%= model_class.human_attribute_name(:published_reference_in_year) %></th>
      <th><%= model_class.human_attribute_name(:linkage_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bibliographies.each do |bibliography| %>
      <tr>
        <td><%= bibliography.author %></td>
        <td><%= bibliography.year %></td>
        <td><%= bibliography.title %></td>
        <td><%= bibliography.book_title %></td>
        <td><%= link_to bibliography.publication, bibliography_path(bibliography.id) %></td>
        <td><%= bibliography.where_published %></td>
        <td><%= bibliography.published_reference_in_year %></td>
        <td><%= bibliography.linkage_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bibliography_path(bibliography), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bibliography_path(bibliography),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Bibliography %>
	<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_bibliography_path,
	            :class => 'btn btn-primary' %>
<% end %>	       
